.footer-container 
{
    background-color: #02060C;
    color:white;
    display: flex;
    padding:50px;
    justify-content: space-around;
}
.footer-logo
{
    height: 40px;
    margin-bottom: 10px;
    transition: all 200ms ease-in-out;
}
ul li
{
    list-style-type: none;
    padding: 5px 0;
    color:rgb(154, 152, 152);
    cursor: pointer;
}
.footer-logo:hover 
{
    transform: scale(1.18);
    border-radius: 8px;
}